html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
/*
** Main Container
*/
.holder{
    background: #eeeeee url('../img/tile2.png') no-repeat;
}

/*
** Main Card
*/
.card_holder{
    background: #FFFFFF;

}

/*
** Avatar
*/
.avatar {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
}


.qa{
    color: #607D8B;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.q{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.an{
    color: #212121;
    font-weight: 500;
    font-size: 19px;
    margin-top: 27.5px;
}



.myBtn{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 16px;
}


/*
** Breadcrumb css
*/
.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.breadcrumb  a{
    text-decoration: none;
}

.breadcrumb li{
    display: inline;
    float: left;
    padding: 5px;
}

.breadcrumb .home{
    color: #CFD8DC;
    line-height: 52px;
}

.breadcrumb .home:hover{
    color: #ffffff;
}

.breadcrumb .ar{
    color: #ffffff;
    line-height: 56px;
}

.breadcrumb .title {
    font-family: 'Dosis', sans-serif;
    font-size: 34px;
    color: #ffffff;
    text-align: justify;


}


/** PRELOADER
*****************************/

#preloader {
    position: fixed;
    z-index: 1600;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .9s;
    transition: all .9s;
}
#preloader .logo {
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: -72px 0 0 -60px;
}
#preloader .logo img {
    display: block;
    max-width: 90px;
    margin: 0 auto 25px auto;
}
#preloader .logo span {
    font-size: 30px;
    font-weight: 300;
    color: #999;
    font-family: 'Dosis', sans-serif;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-done #preloader,
.pace-done #preloader .logo {
    opacity: 0;
    visibility: hidden;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #303F9F;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}



/*
 * ===================================
 * Footer
 * ===================================
 * */
.footer-top {
    background: #272727;
    padding: 15px 0;
}
.footer-bottom {
    background: #222222;
    padding: 15px 0;
}
.footer-bottom p {
    margin: 0;
   text-align: center;
   font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.footer {
    color: #aaa;
}
.footer p,
.footer a {
    color: #aaa;
}
.footer li:hover,
.footer p:hover,
.footer a:hover {
    color: #dddddd;
}
.footer h4 {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 5px;
    width: 80%;
    color: #eb2641;

}
.footer .circle-icons i {
    background: #333333;
    color: #aaa;
    box-shadow: none;
}

.tb{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}

/*
 * ===================================
 * Helper Class
 * ===================================
 * */
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.serv{
  float: left;

  margin-right: 20px;
}

.content{

}

.wrap{
    position: relative;
    padding: 1px 15px;
}

/*.inner{
    position: relative;
    z-index: 2;
}

.wrap:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 72px;
    color: #C5CAE9;
    top: 70%;
    left: 60%;
    content: "\f0a1";
    z-index: 1;
}*/


/*Slider css*/
#slide h1,p,a{
    font-family: 'Dosis', sans-serif;
    text-align: justify;

}



.hiwtitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
    color:#FFFFFF;
    text-align: justify;
}
 
.hiwcontent{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    color:#FFFFFF;
    text-align: justify;
}


.about-bg{
    background:
    linear-gradient(
            rgba(0, 0, 255, 0.2),
            rgba(0, 0, 0, 0.35)
    ),
        /* bottom, image */
    url('../img/abb.png');
   ;
}


.big-title{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-align: justify;
}


.text-grey{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: match-parent;
    text-align: justify;
}

.text-about{
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.form_title h2{
   font-family: 'Dosis', sans-serif;
   margin-left: 15px;
    color: #727272;
    text-align: justify;
}

.form_fonts{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-align: justify;
}


.active{
    display: block;
}

.disabled{
    display: none;
}


.tab_head{

    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    cursor: hand;
    text-align: justify;
}

.tab_head img{
    cursor: hand;
}

.tab_title{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    cursor: hand;
    text-align: justify;
    font-size: 18px;
}


.current {
    color:#303F9F;
    border-bottom: 3px solid #FF5252;
    font-weight: bold;
    text-align: justify;
}

.description{
    font-family: 'Dosis', sans-serif;
    color: #212121;
    font-size: 18px;
    margin-top: -5px;
    text-align: justify;
}

.hiw-title{
    font-family: 'Dosis', sans-serif;
    color:#303F9F;
    font-weight: bold;
    font-size: 22px;
    text-align: justify;

}



.cur{
    background: #F5F5F5;
    color: #212121;
    font-weight: bold;
    text-align: justify;
}

.def{

    background: #ffffff;
}

.sticker{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 0;
    color:#fefefe;
    background:#eb2641;
    font-weight: 500;
    font-size: 18px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 15px;
    z-index: 1000;
}



@media screen and (max-width: 630px) {

    .center{

    }
.left,.right{
    display: none;
}
    .tab_nav,.pic{
        display: none;
    }
    .space_inner{
        height: 100px;
    }

    .main_content{
      margin: 10px;
    }
    .bottom_card{
        margin-top: -20px;
    }
    .bb{
        float: left;
    }
    .sm,.k{
        background: #F5F5F5;
    }

    .small_nav{
        margin-top: -25px;
    }
    .divider{
        display: none;
    }
}

@media screen and (min-width: 631px) {
    .bb{
        float: right;
        margin-right: 30%;
    }
    .space_inner{
        height: 100px;
    }
    .bottom-space{
        height: 24px;
    }

    .main_content{
        margin-bottom: 10px;
    }
    .small_nav{
        display: none;
    }
}

.fs-subhead{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.fs-headline{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
