
html,body{
    font-family: 'Dosis', sans-serif;
}

/*
** Main Container
*/
.holder{
    background-color:#eeeeee;
    background-image: url('../img/tile.png'); background-repeat: no-repeat;
}

/*
** Main Card
*/
.card_holder{
    background: #FFFFFF;
    border-radius: 3px;
}

/*
** Avatar
*/
.avatar {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
}


.qa{
    color: #607D8B;
    margin-right: 5px;
    font-size: 20px;
}

.an{
    color: #212121;
    font-weight: 500;
    font-size: 19px;
    margin-top: 27.5px;
}
<<<<<<< HEAD
=======


/*
** Header css
*/
.sh{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084);
}

/*
** Breadcrumb css
*/
.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.breadcrumb  a{
    text-decoration: none;
}

.breadcrumb li{
    display: inline;
    float: left;
    padding: 5px;
}

.breadcrumb .home{
    color: #CFD8DC;
    line-height: 48px;
}

.breadcrumb .home:hover{
    color: #ffffff;
}

.breadcrumb .ar{
    color: #ffffff;
    line-height: 48px;
}

.breadcrumb .title {
    font-size: 34px;
    color: #ffffff;
}


>>>>>>> openshift/master
/** PRELOADER
*****************************/

#preloader {
    position: fixed;
    z-index: 1600;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .9s;
    transition: all .9s;
}
#preloader .logo {
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: -72px 0 0 -60px;
}
#preloader .logo img {
    display: block;
    max-width: 90px;
    margin: 0 auto 25px auto;
}
#preloader .logo span {
    font-size: 30px;
    font-weight: 300;
    color: #999;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-done #preloader,
.pace-done #preloader .logo {
    opacity: 0;
    visibility: hidden;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #96cb4b;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}



/*
 * ===================================
 * Footer
 * ===================================
 * */
.footer-top {
    background: #272727;
    padding: 15px 0;
}
.footer-bottom {
    background: #222222;
    padding: 15px 0;
}
.footer-bottom p {
    margin: 0;

}
.footer {
    color: #aaa;
}
.footer p,
.footer a {
    color: #aaa;
}
.footer li:hover,
.footer p:hover,
.footer a:hover {
    color: #dddddd;
}
.footer h4 {
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 5px;
    width: 80%;
    color: #1eb9c1;
}
.footer .circle-icons i {
    background: #333333;
    color: #aaa;
    box-shadow: none;
}


/*
 * ===================================
 * Helper Class
 * ===================================
 * */
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.serv{
  float: left;

  margin-right: 20px;
}

.content{

}

.wrap{
    position: relative;
    padding: 1px 15px;
}

/*.inner{
    position: relative;
    z-index: 2;
}*/

.wrap:before {
>>>>>>> openshift/master
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 72px;
    color: #C5CAE9;
    top: 70%;
    left: 60%;
    content: "\f0a1";
    z-index: 1;
}

.hiwtitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
    color:#000000;
}

.hiwcontent{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    color:#000000;
}