
/*nav styles*/
/*ul {
    background: white; border-top: 6px solid hsl(180, 40%, 60%);
    width: 200px; margin: 0 auto;
}
ul li {
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
ul li a {
    font: normal 14px/28px Montserrat; color: hsl(180, 40%, 40%);
    display: block; padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    position: relative;
}*/

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
    display: block; position: absolute;
    background: hsl(180, 40%, 80%);
    border-radius: 100%;
    transform: scale(0);
}
