
<div class="holder" layout="row" flex>

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-list class="muppet-list">
            <md-item ng-repeat="it in muppets">
                <md-item-content>
                    <md-button ng-click="selectMuppet(it)" ng-class="{'selected' : it === selected }">
                        <img ng-src="{{it.iconurl}}" class="face" alt="">
                        {{it.name}}
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-sidenav>


    <!-- Left Margin -->
    <div hide-sm flex-md="10" flex-gt-md="10" flex-lg="10" flex-gt-lg="10"></div>

    <!-- Middle Content -->
    <div id="main_content" layout="column" flex layout-padding style="margin-top: 120px;">

        <div ng-include="'breadcrumb.htm'"></div>

        <div class="md-whiteframe-z2 card_holder" layout-padding>

            <div layout="column" layout-align="start" layout-padding>

                <img src="img/logo_head.png" alt="DoJugaad" class="center" />

                <h3 class="center" style="color: #607D8B; font-size: 22px; ">A jugaad for everything</h3>

                <p style="padding: 0px 15px; font-size: 19px; font-weight: 500;">At DoJugaad we intend to unite all the jugaad and jugaadu people of a world
                    at one place and share their awesome ability of jugaad with others. We are open and welcome for
                    problems, jugaadu ideas and jugaads of all sorts - from paintings to accessories, from technology
                    and science to some random day-to-day problem.In short, we aim at making this world an easier place
                    to live. We aim, to find a jugaad for every problem, together.
                </p>

            </div>
        </div>

        <!-- Small Card -->
        <div layout="row" layout-sm="column" flex layout-margin layout-padding>

            <md-card style="background: #3F51B5;color: #ffffff;">
                <md-card-content style="padding: 0;">
                    <div class="md-whiteframe-z2" style="background: #303F9F; padding: 1px;">
                        <h4 style="margin-left: 10px;">Have a problem?</h4>
                    </div>

                    <div class="wrap">
                        <div class="inner">
                            <h4>Share</h4>
                            <p style="font-weight: 500; margin-top: -10px;">
                                Problems that you share on DoJugaad, are made open for numerous jugaadu people out there.
                                These problems are attacked by all those brains and finally, we expect to find a best fit
                                solution to the problem. The idea will also be made to a product by us.
                            </p>
                        </div>
                    </div>

                </md-card-content>
            </md-card>

            <md-card style="background: #673AB7; color: #ffffff;">
                <md-card-content style="padding: 0;">
                    <div class="md-whiteframe-z2" style="background: #512DA8; padding: 1px;">
                        <h4 style="margin-left: 10px;">Have an Idea?</h4>
                    </div>

                    <div class="wrap">
                        <div class="inner">
                            <h4>Let us know</h4>
                            <p style="font-weight: 500; margin-top: -10px;">
                                We, as mentioned above, bring your ideas to life so that they are no longer confined to the
                                walls of your brain. Nor they are limited by any constraints. In short you need not worry about
                                how to make a product of it.
                            </p>
                        </div>
                    </div>

                </md-card-content>
            </md-card>

            <md-card style="background: #00BCD4;color: #ffffff;">
                <md-card-content style="padding: 0;">
                    <div class="md-whiteframe-z2" style="background: #0097A7; padding: 1px;">
                        <h4 style="margin-left: 10px">Have a product?</h4>
                    </div>

                    <div class="wrap">
                        <div class="inner">
                            <h4>Let us sell</h4>
                            <p style="font-weight: 500; margin-top: -10px;">
                                Great!! you have a nice jugaadu product to be made available to numerous people in need.
                                Here we also help people find customers for their products. Just let us know of the
                                product and have your customers.
                            </p>
                        </div>
                    </div>

                </md-card-content>
            </md-card>


            <md-card style="background: #009688; color:#ffffff;">
                <md-card-content style="padding: 0;">
                    <div class="md-whiteframe-z2" style="background: #00796B; padding: 1px;">
                        <h4 style="margin-left: 10px;">None of them?</h4>
                    </div>

                    <div class="wrap">
                        <div class="inner">
                            <h4>You can still browse</h4>
                            <p style="font-weight: 500; margin-top: -10px;">
                                Here you have a nice opportunity to look at the jugaadu products that other people have
                                come up with, till now. You can have a look at them and find out if some of them may
                                come to your aid.
                            </p>
                        </div>
                    </div>


                </md-card-content>
            </md-card>

        </div>
        <!-- End of Small Card -->

        <div class="md-whiteframe-z2 card_holder" layout-padding>

            <div layout="column" layout-sm="column" flex layout-padding>
                <h3 style="color: #607D8B; font-size: 22px; ">What do we do in all this?</h3>
                <p style="font-size: 19px; font-weight: 500; margin-top: -10px;">
                    We, as mentioned above, bring your ideas to life so that they are no longer confined to the
                    walls of your brain. Nor they are limited by any constraints. In short you need not worry about
                    how to make a product of it.
                </p>
            </div>

        </div>

    </div>

    <!-- Right Margin -->
    <div hide-sm flex-md="10" flex-gt-md="10" flex-lg="10" flex-gt-lg="10">

    </div>

</div>

