<div class="col-md-8 content">
  <div class="box right-skew">Ask Jugaad</div>
    
<form role="form" class="fm">
         <div class="form-group">
          <label>Title your Jugaad</label>
          <input type="text" placeholder="Title" class="form-control" ng-model="jugaad.title">
         </div>
         
         <div class="form-group">
         <label>Describe your Jugaad</label>
          <text-angular ng-model="jugaad.description"></text-angular>
         </div>
         
         <!-- Category -->
         <div class="form-group">
           <label>Specify the most suitable category</label>
            <div class="row">
             <div class="col-md-6">
               <select class="form-control" ng-model="jugaad.category" ng-change="changed()">
               <option value="tec">Technology</option>  
               <option value="sci">Science</option>
               <option value="daily">Daily Life</option>
               <option value="gen">General</option>
               <option value="oth">Other</option>
               </select>   
             </div>
                
             <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Category" ng-model="jugaad.cat1" ng-hide="myVar"> 
             </div>
            </div>
         </div>
        
        <!-- Author -->
        <div class="form-group">
           <div class="checkbox">
             <label>
               <input type="checkbox" ng-click="tog2()"> If this idea is not originally your's or is modified, please credit the author.
             </label>
           </div>       
            <input type="text" class="form-control" placeholder="Author name" ng-model="jugaad.auth" ng-disabled="var2">
        </div>
    
         <!-- Buttons -->
         <div class="text-center" ng-show="btn_disp">
         <button class="bb btn btn-3 btn-3e icon-arrow-right" ng-click="test()">Submit</button>
         <button class="bb btn mybtn" ng-click="clear()">Reset</button>     
        </div>
    
        <!-- Login Buttons -->
        <div class="text-center" ng-show="login_disp">
           <div class="checkbox">
             <label>
               <input type="checkbox" ng-click="tog3()" ng-checked="true"> Share it on social network.
             </label>
           </div>    
           <p>
            <a href="/auth/facebook" class="cc btn azm-social azm-btn azm-border-bottom azm-facebook"><i class="fa fa-facebook"></i> Log in with Facebook</a>
            <a href="/auth/google" class="cc btn azm-social azm-btn azm-border-bottom azm-google-plus"><i class="fa fa-google-plus"></i> Sign in with Google+</a>
           </p>
        </div>    
    
    
</form>    
</div>