
    <div layout="row">
        <div hide-sm flex-md="20" flex-gt-md="30" flex-lg="35" flex-gt-lg="35"></div>




        <md-card flex class="hide">
            <img ng-src="{{imagePath}}" class="md-card-image" alt="DoJugaad">
            <md-card-content>

                    <form name="login" method="post" action="/login" layout-padding>

                        <md-input-container class="md-icon-float">
                            <md-icon md-svg-src="images/icons/account.svg" class="email"></md-icon>
                            <input name="email" data-ng-model="lc.email" type="email" placeholder="Email (required)" ng-required="true">
                        </md-input-container>

                       <md-input-container class="md-icon-float">
                           <md-icon md-svg-src="images/icons/lock-outline.svg" class="password"></md-icon>
                           <input name="password" data-ng-model="lc.password" type="password" placeholder="Password (required)" ng-required="true">
                      </md-input-container>

                      <div layout="row">
                          <div flex="50">
                              <md-checkbox data-ng-model="lc.remember" aria-label="Remember">
                                  Remember Me
                              </md-checkbox>
                          </div>
                          <div flex="50">
                              <p><a style="text-decoration: none;margin-top: -3px; float: right;" ng-href="">Forgot Password?</a></p>
                          </div>
                      </div>
                        <md-input-container>
                            <md-button flex class="md-raised md-primary" type="submit">Log In</md-button>
                        </md-input-container>
                    </form>

                    <div layout="row" layout-align="center center">
                        <p><a style="text-decoration: none" ng-href="/register">Don't have an account? Create one now</a></p>
                    </div>
                    <md-divider ></md-divider>
                    <div layout="row" layout-align="center center">
                        <p>or login with</p>
                    </div>
                    <div layout="row" layout-align="center center">

                            <md-button class="md-raised md-primary" ng-href="/auth/facebook">
                                <md-icon md-svg-src="images/icons/facebook.svg"></md-icon>
                                Facebook
                            </md-button>

                            <md-button class="md-raised md-warn" ng-href="/auth/google">
                                <md-icon md-svg-src="images/icons/google-plus.svg"></md-icon>
                                Google
                            </md-button>
                        </div>



            </md-card-content>

        </md-card>



        <div hide-sm flex-md="20" flex-gt-md="30" flex-lg="35" flex-gt-lg="35"></div>
    </div>
