<div class="main_content card p+">

    <div class="p+" flex-container="column">
        <strong class="fs-headline center">Login to DoJugaad</strong>

                <form method="post" action="auth/local">

                    <lx-text-field label="Email address" fixed-label="true">
                        <input type="email" name="email" ng-model="login.email">
                    </lx-text-field>

                    <lx-text-field label="Password">
                     <input type="password" name="password" ng-model="login.password" >
                    </lx-text-field>

                    <button  style="width: 100%;margin-top: 10px;" class="btn btn--m btn--blue btn--raised center" lx-ripple>Login</button>
                </form>

        <span class="fs-subhead center" style="margin-top: 10px;">Or use</span>


        <div class="tc-white-1" flex-container="row" flex-gutter="24" style="margin-top: 10px;">
            <div flex-item="6" ><div>
                <button style="width: 100%" onclick="document.location.href='auth/facebook';"class="btn btn--l btn--raised bgc-indigo-500 tc-white" lx-ripple="white"><i style="margin-top: 3px; margin-left: -5px;" class="icon icon--s icon--white icon--flat mdi mdi-facebook"></i>Facebook</button>
            </div></div>
            <div flex-item="6" ><div>
                <button style="width: 100%" onclick="document.location.href='auth/google';"class="btn btn--l btn--red btn--raised" lx-ripple><i style="margin-top: 3px; margin-left: -5px;" class="icon icon--s icon--white icon--flat mdi mdi-google-plus"></i>Google</button>
            </div></div>

        </div>
    </div>

</div>



<div layout-container="row" style="margin-top: 10px;">

    <ul style="list-style:none; ">
        <li style="display: inline" class="fs-subhead">Do not have an account ?</li>
        <li style="display: inline">&nbsp;</li>
        <li style="display: inline"><a href="signup">Create one now</a></li>
    </ul>

</div>
