<div class="card">

    <div class="card-main">

        <div class="card-header">
            <h1 class="card-heading">Welcome to DoJugaad</h1>
        </div>

        <div class="card-inner">

            <form ng-controller="signController">

                <div class="mui-form-group form-fonts">
                    <input type="email" class="mui-form-control form-fonts" ng-model="sc.email" required>
                    <label class="mui-form-floating-label form-fonts">Email</label>
                </div>


                <div class="mui-form-group">
                    <input type="password" class="mui-form-control form-fonts" ng-model="sc.password" required>
                    <label class="mui-form-floating-label form-fonts">Password</label>
                </div>

                <div class="mui-form-group">
                    <input type="text" class="mui-form-control form-fonts" ng-model="sc.name">
                    <label class="mui-form-floating-label form-fonts">Full name</label>
                </div>

                <ul class="mui-list-inline">
                    <li>Gender:&nbsp;</li>
                    <li>
                        <div class="mui-radio">
                            <label>
                                <input type="radio"
                                       ng-model="sc.gender"
                                       id="optionsRadios1"
                                       value="male"
                                       checked>
                                Male
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="mui-radio">
                            <label>
                                <input type="radio"
                                       ng-model="sc.gender"
                                       id="optionsRadios2"
                                       value="female"
                                       checked>
                                Female
                            </label>
                        </div>
                    </li>
                </ul>

                <div class="mui-row">
                    <div class="mui-col-xs-12 mui-col-md-12">
                        <button ng-click="create()" class="mui-btn" data-mui-style="raised" data-mui-color="primary" type="submit" style="width: 100%">Signup</button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

<div class="mui-clearfix">

</div>