<div class="main_content card p+">

    <div class="p+" flex-container="column">
        <strong class="fs-headline center">Welcome to DoJugaad</strong>

        <form name="signup" layout-padding ng-controller="signController" ng-submit="$event.preventDefault()">
            <lx-text-field label="Email address">
                <input type="email" name="email" ng-model="sign.email" ng-required="true">
            </lx-text-field>

            <lx-text-field label="Password">
                <input type="password" name="password" ng-model="sign.password" ng-required="true">
            </lx-text-field>

            <lx-text-field label="Full name">
                <input type="text" name="name" ng-model="sign.name" ng-required="true">
            </lx-text-field>

            <div class="radio-group" ng-model="sign.gender" flex-container="row" style="margin-top: 10px;">
                <div class="radio-button" flex-item>
                    <input type="radio" id="radio1" name="radio1" value="male" class="radio-button__input">
                    <label for="radio1" class="radio-button__label">Male</label>
                </div>

                <div class="radio-button" flex-item>
                    <input type="radio" id="radio2" name="radio1" value="female" class="radio-button__input">
                    <label for="radio2" class="radio-button__label">Female</label>
                </div>
            </div>


            <button ng-click="create()" style="width: 100%;margin-top: 10px;" class="btn btn--m btn--blue btn--raised center" lx-ripple>Signup</button>
        </form>

    </div>

</div>

<div flex-layout="row">
    <span class="center"><i class="fa fa-long-arrow-left">&nbsp;</i><a href="/"> Back to Home</a></span>
</div>