<html lang="en" ng-app="myApp">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="css/mystyle.css"/>

    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <title>DoJugaad | Jugaad</title>

</head>


<body layout="column" ng-controller="common">
<% include preloader %>
<% include header %>

<div class="holder" layout="row" flex ng-controller="sub">

    <!-- Left Margin -->
    <div hide-sm flex-md="15" flex-gt-md="15" flex-lg="15" flex-gt-lg="15"></div>

    <!-- Middle Content -->
    <div id="main_content" layout="column" flex layout-padding style="margin-top: 120px;">

        <div ng-include="'breadcrumb.htm'"></div>

        <md-card>
                <% if ( id == 'j' ) { %>
                <div class="form_title"><h2>Submit Problem</h2></div>
                <md-divider></md-divider>
                <% include jugaad_form %>
                <% }else if( id == 'i'){ %>
                <div class="form_title"><h2>Submit Idea</h2></div>
                <md-divider></md-divider>
                <% include idea_form %>
                <% }else if( id == 'p'){ %>
                <div class="form_title"><h2>Submit Product</h2></div>
                <md-divider></md-divider>
                <% include product_form %>
                <% } %>
        </md-card>

    </div>

    <!-- Right Margin -->
    <div hide-sm flex-md="15" flex-gt-md="15" flex-lg="15" flex-gt-lg="15"></div>

</div>



<% include top %>
<% include footer %>



<!-- Angular Material Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/material-icons.js"></script>

<!--script src="http://cdnjs.cloudflare.com/ajax/libs/wow/0.1.6/wow.min.js"></script-->
<!--script>
    new WOW().init();
</script-->
<script src="js/application.js"></script>
<script src="js/pace.min.js"></script>

</body>
</html>
