<html lang="en" ng-app="StarterApp">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <title>DoJugaad | Submit</title>

</head>

<body layout="column" ng-controller="AppCtrl" layout="column" layout-fill>

    <header>
        <md-toolbar class='md-medium-tall'>
            <div class="md-toolbar-tools">
                <h1>Fixed to Top</h1>
                <span flex></span>
                <md-button class="md-raised" ng-click="toggleContent(!displayContent)">toggle content</md-button>
            </div>
        </md-toolbar>
    </header>
    <main class='md-padding' layout="row" flex>
        <div flex>
            <md-card ng-if="displayContent" ng-repeat="card in cards">
                {{$index}}
                {{card.title}}
                {{card.text}}
            </md-card>
        </div>
    </main>
    <footer>
        <div layout="row" layout-align="center center">
            <h2>My Awesome Footer</h2>
        </div>
    </footer>


<!-- Angular Material Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/blank.js"></script>
<script src="js/pace.min.js"></script>
</body>
</html>