<footer id="footer">
   <div class="mui-container" data-mui-fluid="true">
       <div class="mui-row">
           <div class="mui-col-sm-12">
               <div class="footer-bottom">
                   <p class="mui-text-center">© 2015 DoJugaad. All rights reserved.</p>
               </div>
           </div>
       </div>
   </div>
</footer>