    <footer>
        <div layout="row" layout-align="center center" class="footer-bottom">
            <div class="container">
            <p style="color: #fff;">© 2015 DoJugaad. All rights reserved.</p>
            </div>
        </div>
    </footer>

