<md-toolbar layout="row" class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <span class="md-flex">DoJugaad</span>
        <span flex></span>

        <!--md-button aria-label="Login" ng-click="">
            <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button-->
        <% if ( user ) { %>
        <span class="md-flex"><%=user.name.givenName%></span>
        <md-button  ng-href="/logout"  aria-label="Logout" class="md-raised md-accent">Logout</md-button>
        <% }else { %>
        <md-button  ng-href="/login"  aria-label="Login" class="md-raised md-warn">Login</md-button>
        <% } %>
    </div>
</md-toolbar>
