<style>
    .avatar {
        width: 48px;
        margin: 16px;
        border-radius: 48px;
    }
</style>

<md-toolbar layout="row" class="md-whiteframe-z3" ng-cloak>
    <div class="md-toolbar-tools">
        <span class="md-flex"><a ng-href="/"><img src="img/logos/logo_light.png" alt="logo" class="logo"/></a></span>
        <span flex></span>


        <% if ( data ) { %>
        <% if (data.name == 'aashish' || data.name == 'Ashish') {%>
        <md-button  ng-href="/admin"  aria-label="Admin Panel" class="md-raised ">Panel</md-button>
        <%}%>
        <img ng-src="{{ avatar }}" alt="" class="md-avatar avatar">
        <span class="md-flex" ><%=data.name%></span>
        <md-button  ng-href="/logout"  aria-label="Logout" class="md-raised md-accent">Logout</md-button>
        <% }else { %>
        <md-button  ng-href="/login"  aria-label="Login" class="md-raised md-warn">
        <md-icon md-svg-src="images/icons/account-circle.svg"></md-icon>
            Login
        </md-button>
        <% } %>
    </div>
</md-toolbar>
