<form name="idea" ng-controller="iController" ng-submit="$event.preventDefault()">

    <lx-text-field label="Title your Idea">
        <input type="text" ng-model="idea.title">
    </lx-text-field>

    <lx-text-field label="Describe your idea">
        <textarea ng-model="idea.description" rows="5"></textarea>
    </lx-text-field>

    <lx-text-field label="Problem solved by idea">
        <input type="text" ng-model="idea.problem">
    </lx-text-field>


    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-select ng-model="idea.category" placeholder="Suitable category" choices="opt" floating-label>
                <lx-select-selected>
                    {{ $selected }}
                </lx-select-selected>

                <lx-select-choices>
                    {{ $choice }}
                </lx-select-choices>
            </lx-select>
        </div>
        <div flex-item>
            <lx-text-field label="Specify" ng-hide="cvar">
                <input type="text" ng-model="idea.specify" >
            </lx-text-field>
        </div>
    </div>


    <div layout-container="row" style="margin-top: 10px;">
        <button class="btn btn--m btn--raised bgc-indigo-500 tc-white-1" lx-ripple="indigo-400" ng-click="create()"><i style="margin-top: 3px; margin-left: -5px;" class="icon icon--s icon--white icon--flat mdi mdi-send"></i>Submit</button>
        <button class="btn btn--m btn--orange btn--raised" lx-ripple ng-click="clear()"><i style="margin-top: 3px; margin-left: -5px;" class="icon icon--s icon--white icon--flat mdi mdi-refresh"></i>Reset</button>
    </div>

</form>
