<div class="card-inner">
    <form ng-controller="jController">

        <div class="mui-form-group">
            <input type="text" class="mui-form-control form-fonts" ng-model="jugaad.title" required>
            <label class="mui-form-floating-label form-fonts">Problem Title</label>
        </div>


        <div class="mui-form-group">
            <textarea class="mui-form-control form-fonts" ng-model="jugaad.description" required></textarea>
            <label class="mui-form-floating-label form-fonts">Describe your problem</label>
        </div>

        <div class="mui-select form-fonts">
            <select ng-model="jugaad.category">
                <option value="" disabled selected>Specify the related field</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Daily Life</option>
                <option>General</option>
                <option>Other</option>
            </select>
        </div>

        <div class="mui-form-group">
            <input type="text" class="mui-form-control form-fonts" ng-model="jugaad.authname">
            <label class="mui-form-floating-label">
                If this idea is not originally your's or is modified, please credit the author.
            </label>
        </div>



        <div class="mui-row">

                <button class="mui-btn abtn" data-mui-style="raised" style="background: #303F9F;color: #ffffff;" ng-click="create()">
                    <i class="mdi mdi-send" style="font-size: 20px;"></i>
                    Submit
                </button>


                <button class="mui-btn abtn" data-mui-style="raised" style="background: #FFC107;color: #ffffff;" ng-click="clear()">
                    <i class="mdi mdi-refresh" style="color: #ffffff;font-size: 20px;"></i>
                    Reset
                </button>


        </div>

    </form>

</div>
