<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>
        document.write('<link href="css/animate.min.css" rel="stylesheet">');
       // document.write('');
       // document.write('');
        document.write('<link href="css/mui.min.css" rel="stylesheet" type="text/css" />');
        document.write('<link rel="stylesheet" href="css/sweet-alert.css" type="text/css" />');
        document.write('<link href="bower_components/mdi/css/materialdesignicons.min.css" rel="stylesheet"/>');
        document.write('<link href="css/app.min.css" rel="stylesheet"/>');
    </script>
    <title>DoJugaad | Login</title>

</head>

<body class="holder">

<% include preloader %>

<!-- Main Container-->
<div id="content-wrapper">
    <div id="appbar-placeholder" class="mui-appbar-height"></div>

    <div class="mui-container-fluid" ng-controller="loginController">

        <div class="mui-row">
            <!-- Left Margin -->
            <div class="mui-col-md-4 mui-hidden-xs mui-hidden-sm"></div>
            <!-- End of Left Margin -->

            <!-- Center Content -->
            <div class="mui-col-md-4">
                <div class="space-top"></div>

                <div ng-include="'login_form.htm'"></div>

            </div>
            <!-- End of Center Content-->

            <!-- Right Margin -->
            <div class="mui-col-md-4 mui-hidden-xs mui-hidden-sm"></div>
            <!-- End of Right Margin -->
        </div>

    </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/mui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/sweet-alert.min.js"></script>
<script src="js/SweetAlert.js"></script>
<script src="js/application.js"></script>
<script src="js/pace.min.js"></script>

</body>
</html>