<html lang="en" ng-app="myApp">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="dist/lumx.css"/>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/mystyle.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <title>DoJugaad | Problems</title>

</head>

<body ng-controller="common" ng-cloak class="holder">
<% include preloader %>
<% include header %>
<div ng-include="'problem_content.htm'" ng-controller="problemController"></div>
<% include footer %>

Heya!!! We display problems here.

<script src="js/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="dist/lumx.min.js"></script>
<script src="dist/velocity/velocity.min.js"></script>
<script src="dist/moment/moment.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/problem.js"></script>
<script src="js/pace.min.js"></script>

</body>
</html>