<div class="card-inner">
    <form ng-controller="pController">

        <div class="mui-form-group">
            <input type="text" class="mui-form-control form-fonts" ng-model="product.title" required>
            <label class="mui-form-floating-label form-fonts">Title your product</label>
        </div>


        <div class="mui-form-group">
            <textarea class="mui-form-control form-fonts" ng-model="product.description" required></textarea>
            <label class="mui-form-floating-label form-fonts">Describe your product</label>
        </div>

        <div class="mui-select form-fonts">
            <select ng-model="product.category">
                <option value="" disabled selected>Specify the related field</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Daily Life</option>
                <option>General</option>
                <option>Other</option>
            </select>
        </div>

        <div class="mui-form-group">
            <input type="text" class="mui-form-control form-fonts" ng-model="product.problem" required>
            <label class="mui-form-floating-label form-fonts">Problem solved by product</label>
        </div>

        <div class="mui-form-group">
            <input type="text" class="mui-form-control form-fonts" ng-model="product.price" style="width: 50%;">
            <label class="mui-form-floating-label form-fonts">Expected price for your product</label>
        </div>

        <div class="mui-row">
            <button class="mui-btn abtn" data-mui-style="raised" style="background: #303F9F;color: #ffffff;" ng-click="create()">
                <i class="mdi mdi-send" style="font-size: 20px;"></i>
                Submit
            </button>
            <button class="mui-btn abtn" data-mui-style="raised" style="background: #FFC107;color: #ffffff;" ng-click="clear()">
                <i class="mdi mdi-refresh" style="color: #ffffff;font-size: 20px;"></i>
                Reset
            </button>

        </div>

    </form>

</div>
