<html lang="en" ng-app="myApp">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="css/mystyle.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <title>DoJugaad | Submit</title>

</head>

<style>
    md-whiteframe {
                padding: 20px;
      }

    .jugaad{
        background-color:#008fed;
    }

    .product{

        background-color:#96cb4b;
    }

    .idea{
        background-color: #4b62ff;
    }

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .icon{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .title_head{
        margin-left: auto;
        margin-right: auto;
        color: #eeeeee;
    }
</style>
<body layout="column" ng-controller="sController">
<!-- Preloader -->
<div id="preloader">
    <div class="logo">
        <img src="img/gear.png" alt="DoJugaad">
        <span>DoJugaad</span>
    </div>
</div>

<% include header %>

<div layout="row" flex style="background-color:#eeeeee;">

    <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>
    <div layout="column" flex layout-margin layout-fill layout-padding style="margin-top: 50px;">
      <div layout="row" layout-align="center center"><h3>Everthing changes with just a simple idea.</h3></div>
      <div layout="row" layout-sm="column" flex layout-margin layout-fill layout-padding>
          <!-- Jugaad -->
          <div flex>
            <div class="md-whiteframe-z2 jugaad wow flipInY" data-wow-delay="0.4s">
               <div class="icon">
                   <img src="img/jugaad.png" alt="Jugaad" width="80" height="100" class="center">
               </div>
               <div class="content" layout="column" layout-align="start">
                   <p class="title_head">Need any Jugaad ??</p>
                   <md-button class="md-raised md-hue" onclick="document.location.href='jugaad';">Ask Jugaad</md-button>
               </div>
            </div>
        </div>
        <!-- Idea -->
        <div flex>
            <div class="md-whiteframe-z2 idea wow flipInY" data-wow-delay="0.6s">
                <div class="icon">
                    <img src="img/idea.png" alt="Idea" width="80" height="100" class="center">
                </div>
                <div class="content" layout="column" layout-align="start">
                    <p class="title_head">Have an Idea ??</p>
                    <md-button class="md-raised md-hue" onclick="document.location.href='idea';">Submit Idea</md-button>
                </div>
            </div>
        </div>
        <!-- Product -->
        <div flex>
            <div class="md-whiteframe-z2 product wow flipInY" data-wow-delay="0.8s">
                <div class="icon">
                    <img src="img/product.png" alt="Product" width="80" height="100" class="center">
                </div>
                <div class="content" layout="column" layout-align="start">
                    <p class="title_head">Have a Product ??</p>
                    <md-button class="md-raised md-hue" onclick="document.location.href='product';">Submit Product</md-button>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>

</div>

<% include footer %>

<!-- Angular Material Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<!-- WOW.js - loading animations -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/wow/0.1.6/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="js/submit.js"></script>
<script src="js/pace.min.js"></script>
</body>
</html>
