<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="css/mystyle.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:500,600' rel='stylesheet' type='text/css'>
    <title>DoJugaad | Submit</title>
</head>

<body ng-app="myApp" ng-cloak data-ng-controller="sController">
<div class="container">
    <% include header %>

    <div layout="row">
        <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>

        <md-card flex>
            <md-card-component>
                <div class="head">
                    <h2><%=title%></h2>
                </div>
                <% if ( id == 'j' ) { %>
                    <% include jugaad_form %>
                <% }else if( id == 'i'){ %>
                    <% include idea_form %>
                <% }else if( id == 'p'){ %>
                    <% include product_form %>
                <% } %>

            </md-card-component>
        </md-card>
        <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>
    </div>

</div>





<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/submit.js"></script>
</body>
</html>