
<style>
   #top{
       bottom: 0;
       right: 0;
       z-index: 999;
       position: fixed;
   }
</style>


<button id="top" class="btn btn--xl btn--blue btn--fab" lx-ripple ng-click="gotoTop()"><i class="mdi mdi-chevron-up"></i></button>